{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Footer Links</title>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="wr">
                <div class="wra">
                <h1>Footer Links</h1>
                </div>
            </div>
        </div>
    </div><br><br>
</head>
<body>
    <div class="main-container">
        <div class="titleNfooter">
            <p class="footer_links_page">This is an extra page for the footer links 'for now'</p>
        </div><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</body>
{% endblock content %}