{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>{{Newcar.ad_title}}</title>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="wr">
                <div class="wra">
                <h1>{{Newcar.ad_title}}</h1>
                </div>
            </div>
        </div>
    </div><br><br>
</head>
<body>
    <div class="main-container">
        <div class="car_details_section">
            <div class="car_detailimg">
                <div class="carimgdetails">
                    <img class="carimgN" src="{{Newcar.image.url}}" alt="New car image">
                </div>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Price : </p>
                <p class="detailtail">{{Newcar.price}} EGP</p>
            </div><br>
            {% if Newcar.Describtion %}
                <div class="car_detailbig">
                    <p class="detailhead"> Describtion : </p>
                    <p class="detailtailbig">{{Newcar.Describtion}}</p>
                </div><br>
            {% endif %}
            <div class="car_detail">
                <p class="detailhead"> Brand : </p>
                <p class="detailtail">{{Newcar.brand}}</p>
            </div><br> 
            <div class="car_detail">
                <p class="detailhead"> Type : </p>
                <p class="detailtail">{{Newcar.type}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Model year : </p>
                <p class="detailtail">{{Newcar.model_year}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Transmission Type : </p>
                <p class="detailtail">{{Newcar.transmission_type}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Color : </p>
                <p class="detailtail">{{Newcar.color}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> CC : </p>
                <p class="detailtail">{{Newcar.CC}} CC</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Fuel : </p>
                <p class="detailtail">{{Newcar.fuel}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Created date : </p>
                <p class="detailtail">{{Newcar.createddate}}</p>
            </div><br><br>
        </div>
    </div><br><br><br><br>
</body>
{% endblock content %}