{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Rent a Car</title>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="wr">
                <div class="wra">
                <h1>{{Rentcar.ad_title}}</h1>
                </div>
            </div>
        </div>
    </div><br><br>
</head>
<body>
    <div class="main-container">
        <div class="car_details_section">
            <div class="car_detailimg">
                <div class="carimgdetails">
                    <img class="carimgN" src="{{Rentcar.image.url}}" alt="car image">
                </div>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Price Per Day : </p>
                <p class="detailtail">{{Rentcar.price}} EGP</p>
            </div><br>
            <div class="car_detailbig">
                <p class="detailhead"> Describtion : </p>
                <p class="detailtailbig">{{Rentcar.Describtion}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Brand : </p>
                <p class="detailtail">{{Rentcar.brand}}</p>
            </div><br> 
            <div class="car_detail">
                <p class="detailhead"> Type : </p>
                <p class="detailtail">{{Rentcar.type}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Model year : </p>
                <p class="detailtail">{{Rentcar.model_year}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Transmission Type : </p>
                <p class="detailtail">{{Rentcar.transmission_type}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Color : </p>
                <p class="detailtail">{{Rentcar.color}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Fuel : </p>
                <p class="detailtail">{{Rentcar.fuel}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Owner name : </p>
                <p class="detailtail">{{Rentcar.owner_name}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Owner phone number : </p>
                <p class="detailtail">{{Rentcar.owner_phonenumber}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Address : </p>
                <p class="detailtail">{{Rentcar.address}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Created date : </p>
                <p class="detailtail">{{Rentcar.createddate}}</p>
            </div><br><br>
        </div>
    </div><br><br><br><br>
</body>
{% endblock content %}