{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>{{Usedcar.ad_title}}</title>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="wr">
                <div class="wra">
                <h1>{{Usedcar.ad_title}}</h1>
                </div>
            </div>
        </div>
    </div><br><br>
</head>
<body>
    <div class="main-container">
        <div class="car_details_section">
            <div class="car_detailimg">
                <div class="carimgdetails">
                    <img class="carimgN" src="{{Usedcar.image.url}}" alt="New car image">
                </div>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Price : </p>
                <p class="detailtail">{{Usedcar.price}} EGP</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Travelled KM : </p>
                <p class="detailtail">{{Usedcar.travelled_KM}} KM</p>
            </div><br>
            {% if Usedcar.Describtion %}
                <div class="car_detailbig">
                    <p class="detailhead"> Describtion : </p>
                    <p class="detailtailbig">{{Usedcar.Describtion}}</p>
                </div><br>
            {% endif %}
            <div class="car_detail">
                <p class="detailhead"> Brand : </p>
                <p class="detailtail">{{Usedcar.brand}}</p>
            </div><br> 
            <div class="car_detail">
                <p class="detailhead"> Type : </p>
                <p class="detailtail">{{Usedcar.type}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Model year : </p>
                <p class="detailtail">{{Usedcar.model_year}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Used since : </p>
                <p class="detailtail">{{Usedcar.used_since}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Transmission Type : </p>
                <p class="detailtail">{{Usedcar.transmission_type}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Color : </p>
                <p class="detailtail">{{Usedcar.color}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> CC : </p>
                <p class="detailtail">{{Usedcar.CC}} CC</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Fuel : </p>
                <p class="detailtail">{{Usedcar.fuel}}</p>
            </div><br>
            {% if Usedcar.extra_equipment %}
                <div class="car_detailbig">
                    <p class="detailhead"> Extra equipment : </p>
                    <p class="detailtailbig">{{Usedcar.extra_equipment}}</p>
                </div><br>
            {% endif %}
            <div class="car_detail">
                <p class="detailhead"> Owner name : </p>
                <p class="detailtail">{{Usedcar.owner_name}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Owner phone number : </p>
                <p class="detailtail">{{Usedcar.owner_phonenumber}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Address : </p>
                <p class="detailtail">{{Usedcar.address}}</p>
            </div><br>
            <div class="car_detail">
                <p class="detailhead"> Created date : </p>
                <p class="detailtail">{{Usedcar.createddate}}</p>
            </div><br><br>
        </div>
        <div class="modifybuttons">
            <a href="{% url 'update' Usedcar.id %}" type="button" >Update</a>
            <a href="{% url 'delete' Usedcar.id %}" type="button" >Delete</a>
        </div>
    </div><br><br><br><br>
</body>
{% endblock content %}